@import "tailwindcss";

@theme {
  --color-background: #F7F7F7;     
  --color-card: #FFFFFF;             
  --color-text-primary: #1A1A1A;     
  --color-text-muted: #A0A0A0;     
  --color-button: #FF6B5A;            
  --color-accent-indigo: #4C5FD5;    
  --color-accent-violet: #6E56CF;   
  --color-accent-teal: #00C49A;     
  --color-accent-blue: #0095FF;     

  --color-dark-background: #121212;       
  --color-dark-card: #1E1E1E;             
  --color-text-dark-primary: #FFFFFF;     
  --color-text-dark-muted: #AAAAAA;    
  --color-dark-button: #FF6B5A;       
  --color-accent-dark-indigo: #4C5FD5;   
  --color-accent-dark-violet: #A891FF;     
  --color-accent-dark-teal: #00E0B8;   
  --color-accent-dark-blue: #4BA3FF;      
  }

