@import "tailwindcss";

@theme {
  --color-background: #F7F7F7;     
  --color-card: #FFFFFF;             
  --color-text-primary: #1A1A1A;     
  --color-text-muted: #A0A0A0;     
  --color-button: #FF6B5A;            
  --color-accent-indigo: #4C5FD5;    
  --color-accent-violet: #6E56CF;   
  --color-accent-teal: #00C49A;     
  --color-accent-blue: #0095FF;     
  --color-border:#d4dee7;
  --color-orange-primary:#FA4A0C;
  
  --breakpoint-amd: 900px;
  }

button {
  cursor: pointer;
}

input:focus,textarea:focus{
  border-color: #FA4A0C;
  outline: none;
}